.select, .input {
  display : block;
  border-radius : 2px;
  width: 300px;
  box-sizing: border-box;
  height: 30px;
  border: 1px solid #606060;
  outline : 1px solid transparent;
  box-shadow: 
    inset -4px 4px 4px rgba(0, 0, 0, 0.25),
    0px 0px 0px transparent; 
  font-family : var(--font-open-sans);
  font-size : 15px;
  font-weight : 400;
  color: #181818;
  transition : all 200ms ease-in-out;
}

.input:focus {
  outline : 1px solid #41AFFF;
  border-color : #41AFFF;
  box-shadow: 
    inset -4px 4px 4px rgba(0, 0, 0, 0.25),
    0 1.5px 10px rgba(65, 175, 255, 0.65);
}

.select[data-validity="ERROR"], 
.select[data-validity="INVALID"], 
.input[data-validity="ERROR"], 
.input[data-validity="INVALID"] {
  border: 1px solid red;
}

.input[data-validity="ERROR"]:focus, .input[data-validity="INVALID"]:focus {
  border: 1px solid red;
  outline: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: 
    inset -4px 4px 4px rgba(0, 0, 0, 0.25),
    0 1.5px 10px rgba(255, 0, 0, 0.25);
}

.label, .input_label {
  display : block;
  font-family : var(--font-open-sans);
  font-size : 15px;
  font-weight : 700;
  color: #181818;
}

.input_label {
  margin-top : 7.5px;
}